{% extends "matricula/layout.html" %}

{% block body %}

<div id="Form">
    <svg id="exitForm" xmlns="http://www.w3.org/2000/svg" width="15.849" height="15.848" viewBox="0 0 30.849 30.848" onclick="changeWindow()">
    <path id="Icon_metro-cross" data-name="Icon metro-cross" d="M33.138,26.711h0l-9.358-9.358,9.358-9.358h0a.966.966,0,0,0,0-1.363L28.717,2.21a.967.967,0,0,0-1.363,0h0L18,11.568,8.637,2.21h0a.966.966,0,0,0-1.363,0L2.852,6.631a.966.966,0,0,0,0,1.363h0l9.358,9.358L2.852,26.711h0a.966.966,0,0,0,0,1.363l4.421,4.421a.966.966,0,0,0,1.363,0h0L18,23.136l9.358,9.358h0a.966.966,0,0,0,1.363,0l4.421-4.421a.966.966,0,0,0,0-1.363Z" transform="translate(-2.571 -1.928)" fill="#b7b7b7"/>
    </svg>      
    <h2 id="formTitle">Registrar docente</h2>

    <form action="{% url 'creardocente' %}" method="post">        
        {% csrf_token %}
        <div id="registerForm">
            <div class="form-group row">
                <p class="col-sm-6">Nombres</p>
                <input id="txtNombre" autofocus class="form-control col-sm-6" type="text" name="nombre" placeholder="Nombres del docente" maxlength="25" required>
                <p id="errorMessage1" class="row errorMessageStyle" style="display: none;">*El dato ingresado no era válido</p>
            </div>
            <div class="form-group row">
                <p class="col-sm-6">Apellidos</p>
                <input id="txtApellido" autofocus class="form-control col-sm-6" type="text" name="apellido" placeholder="Apellidos del docente" maxlength="25" required>
                <p id="errorMessage2" class="row errorMessageStyle" style="display: none;">*El dato ingresado no era válido</p>
            </div>
            <div class="form-group row">
                <p class="col-sm-6">DNI</p>
                <input id="txtDNI" autofocus class="form-control col-sm-6" type="number" name="dni" placeholder="DNI del docente" max="99999999" min="00000001" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                maxlength="8" required>
                <p id="errorMessage3" class="row errorMessageStyle" style="display: none;">*El dato ingresado no era válido</p>
                <p id="errorMessageDuplicate" class="row errorMessageStyle" style="display: none;">*El DNI ingresado ya se encuentra registrado</p>
            </div> 
        </div>
        <div id="confirmationMessage" style="display: none;" class="row">
            <p>Confirmación de registro</p>       
            <p>¿Está seguro de realizar este registro?</p>       
        </div>
        <!-- <div id="acceptMessage" style="display: none;" class="row">
            <p>Registro exitoso</p>       
        </div> -->
        <div id="buttonContainer">
            <input id="btnHideConfirmation" class="btn btn-danger col-sm-4" value="CANCELAR" onclick="hideConfirmation()" style="display: none;" >
            <input id="btnRegister" class="btn btn-success col-sm-4" type="submit" value="REGISTRAR" style="display: none;" onclick="changeWindow()">
            <input id="btnShowConfirmation" class="btn btn-success" value="REGISTRAR" onclick="showConfirmation()">
            <!-- <input id="btnAccept" class="btn btn-success col-sm-8" value="ACEPTAR" style="display: none;" onclick="changeWindow()"> -->
        </div>
    </form>
</div>
<div id="blackScreen"></div>
<!-- buscar y registrar nuevo -->
<div style="margin-left: 35%; margin-bottom: 30px;">
    <h1 style="font-size: 40px;">Docentes registrados</h1>
</div>
<input id="buscar" type="number" placeholder="Búsqueda" class="form-control">
<button id="options" class="btn btn-success" onclick="changeWindow()">NUEVO DOCENTE</button>
</div>
<!-- tabla de datos -->
<div>
    <table id="tabla" class="table">
    <thead>
            <tr>
                <th scope="col">
                    Nombres
                </th>
                <th scope="col">
                    Apellidos
                </th>
                <th scope="col">
                    DNI
                </th>
                <th scope="col">
                    Visibilidad
                </th>
                <th scope="col">
                    Actualizar
                </th>
            </tr>
        </thead>
        <tbody>
            {% for docente in docentes %}
            <tr>
                <td scope="row">
                {{docente.nombre}} 
                </td>
                <td scope="row">
                    {{docente.apellido}} 
                </td>
                <td class="dni" scope="row">
                    {{docente.dni}} 
                </td>
                <td scope="row">
                    {% if docente.activo is True %} 
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15.846" viewBox="0 0 36 26.846">
                        <path id="Icon_awesome-check" data-name="Icon awesome-check" d="M12.227,30.9.527,19.2a1.8,1.8,0,0,1,0-2.546L3.073,14.1a1.8,1.8,0,0,1,2.546,0L13.5,21.986,30.382,5.1a1.8,1.8,0,0,1,2.546,0L35.473,7.65a1.8,1.8,0,0,1,0,2.546l-20.7,20.7A1.8,1.8,0,0,1,12.227,30.9Z" transform="translate(0 -4.577)"/>
                      </svg>                      
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.849" height="19.849" viewBox="0 0 30.849 30.849">
                        <path id="Icon_metro-cross" data-name="Icon metro-cross" d="M33.138,26.711h0l-9.358-9.358,9.358-9.358h0a.966.966,0,0,0,0-1.363L28.717,2.21a.967.967,0,0,0-1.363,0h0L18,11.568,8.637,2.21h0a.966.966,0,0,0-1.363,0L2.852,6.631a.966.966,0,0,0,0,1.363h0l9.358,9.358L2.852,26.711h0a.966.966,0,0,0,0,1.363l4.421,4.421a.966.966,0,0,0,1.363,0h0L18,23.136l9.358,9.358h0a.966.966,0,0,0,1.363,0l4.421-4.421a.966.966,0,0,0,0-1.363Z" transform="translate(-2.571 -1.928)"/>
                      </svg>                      
                    {% endif %}
                </td>
                <td scope="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.849" height="20.849" viewBox="0 0 30.849 30.849">
                        <path id="Icon_metro-pencil" data-name="Icon metro-pencil" d="M28.6,1.928A4.82,4.82,0,0,1,32.455,9.64l-1.928,1.928L23.779,4.82l1.928-1.928A4.8,4.8,0,0,1,28.6,1.928ZM4.5,24.1,2.571,32.777l8.676-1.928L29.081,13.014,22.333,6.266ZM24.128,12.881l-13.5,13.5L8.97,24.716l13.5-13.5,1.662,1.662Z" transform="translate(-2.571 -1.928)"/>
                    </svg>                  
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="warningList"></div>
<script>
    var elements = document.getElementsByClassName("dni");
    for(let x = 0; x<=elements.length; x++){
        //console.log(JSON.stringify(document.getElementsByClassName("dni")[x].innerHTML))
        var dni = document.getElementsByClassName("dni")[x].innerHTML;
        if(document.getElementsByClassName("dni")[x].innerHTML.length < 47){
            
            var cantidadNumeros = document.getElementsByClassName("dni")[x].innerHTML.length;
            if(cantidadNumeros <= 46){
                document.getElementsByClassName("dni")[x].innerHTML = ("0"+dni)
                var spliteado = document.getElementsByClassName("dni")[x].innerHTML.split("\n                    ");
                document.getElementsByClassName("dni")[x].innerHTML = spliteado[0]+spliteado[1]
            }
            else if(cantidadNumeros <=45){
                document.getElementsByClassName("dni")[x].innerHTML = ("00"+dni)
                var spliteado = document.getElementsByClassName("dni")[x].innerHTML.split("\n                    ");
                document.getElementsByClassName("dni")[x].innerHTML = spliteado[0]+spliteado[1]
            }
            else if(cantidadNumeros <=44){
                document.getElementsByClassName("dni")[x].innerHTML = ("000"+dni)
                var spliteado = document.getElementsByClassName("dni")[x].innerHTML.split("\n                    ");
                document.getElementsByClassName("dni")[x].innerHTML = spliteado[0]+spliteado[1]
            }
            else if(cantidadNumeros <=43){
                document.getElementsByClassName("dni")[x].innerHTML = ("0000"+dni)
                var spliteado = document.getElementsByClassName("dni")[x].innerHTML.split("\n                    ");
                document.getElementsByClassName("dni")[x].innerHTML = spliteado[0]+spliteado[1]
            }
            else if(cantidadNumeros <=42){
                document.getElementsByClassName("dni")[x].innerHTML = ("00000"+dni)
                var spliteado = document.getElementsByClassName("dni")[x].innerHTML.split("\n                    ");
                document.getElementsByClassName("dni")[x].innerHTML = spliteado[0]+spliteado[1]
            }
            else if(cantidadNumeros <=41){
                document.getElementsByClassName("dni")[x].innerHTML = ("000000"+dni)
                var spliteado = document.getElementsByClassName("dni")[x].innerHTML.split("\n                    ");
                document.getElementsByClassName("dni")[x].innerHTML = spliteado[0]+spliteado[1]
            }
            else if(cantidadNumeros <=40){
                document.getElementsByClassName("dni")[x].innerHTML = ("0000000"+dni)
                var spliteado = document.getElementsByClassName("dni")[x].innerHTML.split("\n                    ");
                document.getElementsByClassName("dni")[x].innerHTML = spliteado[0]+spliteado[1]
            }
        }
    }
</script>
<script>
    const changeWindow = () => {
        window.location.pathname = '../listadocentes';
    }
    // const changeToAccept = () => {
    //     document.getElementById("btnAccept").style.display = "";
    //     document.getElementById("btnHideConfirmation").style.display = "none";
    //     document.getElementById("btnRegister").style.display = "none";

    //     document.getElementById("confirmationMessage").style.display = "none";
    //     document.getElementById("acceptMessage").style.display = "";
        
    // }
    // función donde se validan los datos de los campos ingresados
    const showConfirmation = () => {
        document.getElementById("errorMessage1").style.display = "none";
        document.getElementById("errorMessage2").style.display = "none";
        document.getElementById("errorMessage3").style.display = "none";

        var nombreState;
        var apellidoState;
        var dniState;
        var duplicateState;

        var listaDNIs = [];
        
        var txtNombre = document.getElementById("txtNombre").value;
        var txtApellido = document.getElementById("txtApellido").value;
        var txtDNI = document.getElementById("txtDNI").value;
        
        var hasNumber = /\d/;
        var format = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;        

        if (txtNombre == "" || hasNumber.test(txtNombre) || format.test(txtNombre)) {
            document.getElementById("errorMessage1").style.display = "none";
            document.getElementById("errorMessage1").style.display = "";
            document.getElementById("txtNombre").value = "";
        } else {
            nombreState = 1;
        }

        if (txtApellido == "" || hasNumber.test(txtApellido) || format.test(txtApellido)) {
            document.getElementById("errorMessage2").style.display = "none";
            document.getElementById("errorMessage2").style.display = "";
            document.getElementById("txtApellido").value = "";
        } else {
            apellidoState = 1;
        }
        
        if (txtDNI == "" || hasNumber.test(txtDNI) == false || txtDNI > 99999999 || txtDNI < 00000001 || txtDNI.length != 8) {
            document.getElementById("errorMessage3").style.display = "none";
            document.getElementById("errorMessage3").style.display = "";
            document.getElementById("txtDNI").value = "";
        } else {
            dniState = 1;
        }

        var tabla_tr = document.getElementById("tabla").getElementsByTagName("tbody")[0].rows;
        for (var i = 0; i < tabla_tr.length; i++) {
            var tr = tabla_tr[i];
            var td = tabla_tr[i].getElementsByTagName("td")[2];
            var textotd = (td.innerText);
            listaDNIs.push(textotd);            
        }
        console.log(listaDNIs);

        if(listaDNIs.includes(txtDNI)){
            document.getElementById("errorMessageDuplicate").style.display = "none";
            document.getElementById("errorMessageDuplicate").style.display = "";
            document.getElementById("txtDNI").value = "";            
        } else {
            duplicateState = 1;
        }

        if(nombreState && apellidoState && dniState && duplicateState){
            document.getElementById("confirmationMessage").style.display = "";
            document.getElementById("registerForm").style.display = "none";
            document.getElementById("formTitle").style.display = "none";

            document.getElementById("btnShowConfirmation").style.display = "none";
            document.getElementById("btnHideConfirmation").style.display = "";
            document.getElementById("btnRegister").style.display = ""; 
        } 
    }

    const hideConfirmation = () => {
        document.getElementById("confirmationMessage").style.display = "none";
        document.getElementById("registerForm").style.display = "";
        document.getElementById("formTitle").style.display = "";

        document.getElementById("btnShowConfirmation").style.display = "";
        document.getElementById("btnHideConfirmation").style.display = "none";
        document.getElementById("btnRegister").style.display = "none";
    }
</script>
<style>
    html, body {margin: 0; height: 100%; overflow: hidden}
</style>
{% endblock %}