{% extends "matricula/layout.html" %}

{% block body %}

<div id="Form" style="width: 50%; margin-left: 25%; margin-top: 10%;">         
    <h2>Registro Exitoso</h2>
    <form method="POST">        
        {% csrf_token %}        
        <div id="confirmationMessage" class="row">
                
        </div>
        <div id="buttonContainer" style="margin-top: 20px;">
            <input id="btnRegister" class="btn btn-success col-sm-4" value="ACEPTAR" onclick="changeWindow()">
        </div>
    </form>
</div>
<div id="blackScreen" style="opacity: 80%;"></div>
{% if cursos %}
<script>
    var changeWindow = () => {
        window.location.pathname = '../listacursos';
    }
</script>
{% endif %}
{% if docentes %}
<script>
    var changeWindow = () => {
        window.location.pathname = '../listadocentes';
    }
</script>
{% endif %}
{% if alumnos %}
<script>
    var changeWindow = () => {
        window.location.pathname = '../listaalumnos';
    }
</script>
{% endif %}
{% if admins %}
<script>
    var changeWindow = () => {
        window.location.pathname = '../listaadmins';
    }
</script>
{% endif %}
{% if matriculas %}
<script>
    var changeWindow = () => {
        window.location.pathname = '../listamatriculas';
    }
</script>
{% endif %}
{% endblock %}