{% extends "matricula/layout.html" %}

{% block body %}
<!-- buscar y registrar nuevo -->
<h1 id="TitleMatricula"> Matriculas Registradas</h1>
<div id="OptionDiv">
<select id="selectDinamico" class="form-control col-sm-1 btn-success" onchange="changeFilter()">
    <option value="" hidden>Semestre</option> 
    <option value="2021-01">2021-01</option> 
    <option value="2021-02">2021-02</option> 
    <option value="2022-0">2022-0</option> 
    <option value="2022-01">2022-01</option> 
    <option value="2022-02">2022-02</option> 
</select>
<button id="options" class="btn btn-success" onclick="changeWindow()">NUEVA MATRICULA</button>
</div>
<!-- tabla de datos -->
<div>
    <table id="tabla" class="table">
    <thead>
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">                
                    Nombre del curso                    
                </th>
                <th scope="col">
                    Vacantes
                </th>                                    
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <td class="id" scope="row">
                    {{curso.id}}
                </td>
                <td scope="row">
                    {{curso.nombreCurso}}                   
                </td>
                <td class="vacan" scope="row">
                    {{curso.vacantes}}
                </td>  
                <td scope="row">
                    {% if semestre %}
                    <a href="../reportematricula/{{semestre}}/{{curso.id}}" style="color: black;">
                    Ver Reporte
                    </a>                    
                    {% else %}
                    
                    {% endif %}
                </td>                                                                   
            </tr>            
            {% endfor %}                                              
        </tbody>
    </table>
    <script>
        var vacantes = {{vacante}}
        var elements = document.getElementsByClassName("id");
        var ids = '';
        for (let x = 0; x<=elements.length; x++){
            if(document.getElementsByClassName("id")[x].innerText == x+1){
                document.getElementsByClassName("vacan")[x].innerText = (10 - vacantes[x+1])
            }
        }
    </script>
    
</div>
<div id="warningList"></div>
<script>
    const changeWindow = () => {
        window.location.pathname = '../matricularalumno';
    }     
    const changeFilter = () => {
        var selec =  document.getElementById("selectDinamico");
        var strSelec = selec.options[selec.selectedIndex].text;
        window.location.pathname = '/listamatriculas/'+ strSelec;        
    }    
</script>
{% endblock %}