{% extends "matricula/layout.html" %}

{% block body %}

<div id="Form" style="top: 10%;">
    <svg id="exitForm" xmlns="http://www.w3.org/2000/svg" width="15.849" height="15.848" viewBox="0 0 30.849 30.848" onclick="changeWindow()">
    <path id="Icon_metro-cross" data-name="Icon metro-cross" d="M33.138,26.711h0l-9.358-9.358,9.358-9.358h0a.966.966,0,0,0,0-1.363L28.717,2.21a.967.967,0,0,0-1.363,0h0L18,11.568,8.637,2.21h0a.966.966,0,0,0-1.363,0L2.852,6.631a.966.966,0,0,0,0,1.363h0l9.358,9.358L2.852,26.711h0a.966.966,0,0,0,0,1.363l4.421,4.421a.966.966,0,0,0,1.363,0h0L18,23.136l9.358,9.358h0a.966.966,0,0,0,1.363,0l4.421-4.421a.966.966,0,0,0,0-1.363Z" transform="translate(-2.571 -1.928)" fill="#b7b7b7"/>
    </svg>
    <h2 id="formTitle">Registrar Usuario</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div id="registerForm">
            <div class="form-group row" style="margin-bottom: 0px;">
                <div class="col-sm-6" style="margin-left: -15px; margin-right: 15px;">
                    <p>Usuario</p>                
                    <p class="conditionsForInput">El usuario debe tener 6 a 9 caracteres</p>                
                </div>
                <input id="txtUsuario" class="form-control col-sm-6" autofocus type="text" name="username" placeholder="Usuario">
                <p id="errorMessage1" class="row errorMessageStyle" style="display: none;">*El dato ingresado no era válido</p>
                <p id="errorMessageDuplicate" class="row errorMessageStyle" style="display: none;">*El usuario ingresado ya se encuentra registrado</p>
            </div>
            <div class="form-group" style="display: none;">
                <input class="form-control" type="text" name="email" placeholder="Nombres de Administradores" maxlength="25" value="">
            </div>
            <div class="form-group row" style="margin-bottom: 0px;">
                <p class="col-sm-6">Nombres</p>
                <input id="txtNombre" class="form-control col-sm-6" type="text" name="first_name" placeholder="Nombres" maxlength="25">
                <p id="errorMessage2" class="row errorMessageStyle" style="display: none;">*El dato ingresado no era válido</p>
            </div>
            <div class="form-group row" style="margin-bottom: 0px;">
                <p class="col-sm-6">Apellidos</p>
                <input id="txtApellido" class="form-control col-sm-6" type="text" name="last_name" placeholder="Apellidos" maxlength="25">
                <p id="errorMessage3" class="row errorMessageStyle" style="display: none;">*El dato ingresado no era válido</p>
            </div>
            <div style="height: 20px;"></div>
            <div class="form-group row" style="margin-bottom: 0px;">
                <div class="col-sm-6" style="margin-left: -15px; margin-right: 15px;">
                    <p>Contraseña</p>
                    <p class="conditionsForInput">Mínimo 8 caracteres y debe contener al menos un número y una letra</p>                
                </div>
                <input id="txtContraseña" class="form-control col-sm-6" type="password" name="password" placeholder="Contraseña">
                <p id="errorMessage4" class="row errorMessageStyle" style="display: none;">*La contraseña ingresada no era válida</p>
            </div>
            <div class="form-group row" style="margin-bottom: 10px;">
                <p class="col-sm-6">Confirme su contraseña</p>
                <input id="txtConfirmacion" class="form-control col-sm-6" type="password" name="confirmation" placeholder="Confirme su contraseña">
                <p id="errorMessage5" class="row errorMessageStyle" style="display: none;">*Las contraseñas ingresadas no coinciden</p>
            </div>            
        </div>
        <div id="confirmationMessage" style="display: none;" class="row">
            <p>Confirmación de registro</p>       
            <p>¿Está seguro de realizar este registro?</p>       
        </div>
        <!-- <div id="acceptMessage" style="display: none;" class="row">
            <p>Registro exitoso</p>       
        </div> -->
        <div id="buttonContainer">
            <input id="btnHideConfirmation" class="btn btn-danger col-sm-4" value="CANCELAR" onclick="hideConfirmation()" style="display: none;" >
            <input id="btnRegister" class="btn btn-success col-sm-4" type="submit" value="REGISTRAR" style="display: none;" onclick="changeWindow()">
            <!-- <input id="btnAccept" class="btn btn-success col-sm-8" value="ACEPTAR" style="display: none;" onclick="changeWindow()"> -->
            <input id="btnShowConfirmation" class="btn btn-success" value="REGISTRAR" onclick="showConfirmation()">
        </div>
    </form>
</div>
<div id="blackScreen"></div>
<!-- buscar y registrar nuevo -->
<div style="margin-left: 31%; margin-bottom: 30px;">
    <h1 style="font-size: 40px;">Administradores registrados</h1>
</div>
<input id="buscar" type="number" placeholder="Búsqueda" class="form-control">
<button id="options" class="btn btn-success" onclick="changeWindow()">NUEVO ADMINISTRADOR</button>
</div>
<!-- tabla de datos -->
<div>
    <table id="tabla" class="table">
    <thead>
            <tr>
                <th scope="col">
                    Usuario
                </th>
                <th scope="col">
                    Nombre del administrador
                </th>                
                <th scope="col">
                    Visibilidad
                </th>
                <th scope="col">
                    Actualizar
                </th>
            </tr>
        </thead>
        <tbody>
            {% for administrador in admins %}
            {% if administrador.is_superuser%}

            {% else %}
            <tr>
                <td scope="row">
                    {{administrador.username}} 
                </td>
                <td scope="row">
                    {{administrador.first_name}} {{administrador.last_name}}  
                </td>                
                <td scope="row">
                    {% if administrador.is_active is True %} 
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="15.846" viewBox="0 0 36 26.846">
                        <path id="Icon_awesome-check" data-name="Icon awesome-check" d="M12.227,30.9.527,19.2a1.8,1.8,0,0,1,0-2.546L3.073,14.1a1.8,1.8,0,0,1,2.546,0L13.5,21.986,30.382,5.1a1.8,1.8,0,0,1,2.546,0L35.473,7.65a1.8,1.8,0,0,1,0,2.546l-20.7,20.7A1.8,1.8,0,0,1,12.227,30.9Z" transform="translate(0 -4.577)"/>
                      </svg>                      
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="19.849" height="19.849" viewBox="0 0 30.849 30.849">
                        <path id="Icon_metro-cross" data-name="Icon metro-cross" d="M33.138,26.711h0l-9.358-9.358,9.358-9.358h0a.966.966,0,0,0,0-1.363L28.717,2.21a.967.967,0,0,0-1.363,0h0L18,11.568,8.637,2.21h0a.966.966,0,0,0-1.363,0L2.852,6.631a.966.966,0,0,0,0,1.363h0l9.358,9.358L2.852,26.711h0a.966.966,0,0,0,0,1.363l4.421,4.421a.966.966,0,0,0,1.363,0h0L18,23.136l9.358,9.358h0a.966.966,0,0,0,1.363,0l4.421-4.421a.966.966,0,0,0,0-1.363Z" transform="translate(-2.571 -1.928)"/>
                      </svg>                      
                    {% endif %}
                </td>
                <td scope="row">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20.849" height="20.849" viewBox="0 0 30.849 30.849">
                        <path id="Icon_metro-pencil" data-name="Icon metro-pencil" d="M28.6,1.928A4.82,4.82,0,0,1,32.455,9.64l-1.928,1.928L23.779,4.82l1.928-1.928A4.8,4.8,0,0,1,28.6,1.928ZM4.5,24.1,2.571,32.777l8.676-1.928L29.081,13.014,22.333,6.266ZM24.128,12.881l-13.5,13.5L8.97,24.716l13.5-13.5,1.662,1.662Z" transform="translate(-2.571 -1.928)"/>
                    </svg>                  
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="warningList"></div>

<script>
    const changeWindow = () => {
        window.location.pathname = '../listaadmins';
    }
    const showConfirmation = () => {
        document.getElementById("errorMessage1").style.display = "none";
        document.getElementById("errorMessage2").style.display = "none";
        document.getElementById("errorMessage3").style.display = "none";
        document.getElementById("errorMessage4").style.display = "none";
        document.getElementById("errorMessage5").style.display = "none";

        var usuarioState;
        var nombreState;
        var apellidoState;
        var passwordState;
        var confirmationState;
        var duplicateState;

        var listaUsuarios = [];
        
        var txtUsuario = document.getElementById("txtUsuario").value;
        var txtNombre = document.getElementById("txtNombre").value;
        var txtApellido = document.getElementById("txtApellido").value;
        var txtContraseña = document.getElementById("txtContraseña").value;
        var txtConfirmacion = document.getElementById("txtConfirmacion").value;
        
        // regex validation
        var hasNumber = /\d/;
        var hasLetter = /[a-z]/
        var format = /[`!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?~]/;        

        if (txtUsuario.length < 6 || txtUsuario.length > 9 || format.test(txtUsuario) || txtUsuario == " "){
            document.getElementById("errorMessage1").style.display = "";
            document.getElementById("txtUsuario").value = "";
        } else {
            usuarioState = 1;
        }

        if (txtNombre == "" || hasNumber.test(txtNombre) || format.test(txtNombre)) {
            document.getElementById("errorMessage2").style.display = "";
            document.getElementById("txtNombre").value = "";
        } else {
            nombreState = 1;
        }

        if (txtApellido == "" || hasNumber.test(txtApellido) || format.test(txtApellido)) {
            document.getElementById("errorMessage3").style.display = "";
            document.getElementById("txtApellido").value = "";
        } else {
            apellidoState = 1;
        }

        if (txtContraseña == "" || txtContraseña.length < 8 || !hasNumber.test(txtContraseña) || !hasLetter.test(txtContraseña)){
            document.getElementById("errorMessage4").style.display = "";
            document.getElementById("txtContraseña").value = "";
            document.getElementById("txtConfirmacion").value = "";
        } else {
            passwordState = 1;
        }

        if (txtConfirmacion != txtContraseña){
            document.getElementById("errorMessage5").style.display = "";
            document.getElementById("txtContraseña").value = "";
            document.getElementById("txtConfirmacion").value = "";
        } else {
            confirmationState = 1;
        }

        var tabla_tr = document.getElementById("tabla").getElementsByTagName("tbody")[0].rows;
        for (var i = 0; i < tabla_tr.length; i++) {
            var tr = tabla_tr[i];
            var td = tabla_tr[i].getElementsByTagName("td")[0];
            var textotd = (td.innerText);
            listaUsuarios.push(textotd);            
        }
        console.log(listaUsuarios);

        if(listaUsuarios.includes(txtUsuario)){
            document.getElementById("errorMessageDuplicate").style.display = "";
            document.getElementById("txtUsuario").value = "";            
        } else {
            duplicateState = 1;
        }

        if(usuarioState && nombreState && apellidoState && passwordState && confirmationState && duplicateState){
            document.getElementById("confirmationMessage").style.display = "";
            document.getElementById("registerForm").style.display = "none";
            document.getElementById("formTitle").style.display = "none";

            document.getElementById("btnShowConfirmation").style.display = "none";
            document.getElementById("btnHideConfirmation").style.display = "";
            document.getElementById("btnRegister").style.display = ""; 
        } 
    }

    const hideConfirmation = () => {
        document.getElementById("confirmationMessage").style.display = "none";
        document.getElementById("registerForm").style.display = "";
        document.getElementById("formTitle").style.display = "";

        document.getElementById("btnShowConfirmation").style.display = "";
        document.getElementById("btnHideConfirmation").style.display = "none";
        document.getElementById("btnRegister").style.display = "none";
    }
</script>
<style>
    html, body {margin: 0; height: 100%; overflow: hidden}
</style>
{% endblock %}